@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --card-transition-duration: 500ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: /*linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )*/
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .notifications {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  /* ---------------- scrollbars ---------------- */
  .content::-webkit-scrollbar{
    width: 0px;
  }

  .notifications::-webkit-scrollbar{
    width: 10px;
  }
  .notifications::-webkit-scrollbar-track{
    box-shadow: inset 0 0 3px grey;
    border-radius: 5px;
  }
  .notifications::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 5px;
  }
  .notifications::-webkit-scrollbar-thumb:hover{
    background: #555;
  }

  /* ----------------- unwrapped ---------------- */
  .unwrapped-btn {
    @apply btn btn-circle border-0 border-elanco hover:border-elanco hover:border-2 bg-elanco hover:bg-white text-white hover:text-elanco duration-300
    /* @apply btn btn-circle glass duration-300 */
  }

  @keyframes ping {
    75%, 100% {
        transform: scale(1.8);
        opacity: 0;
    }
  }
  .custom-ping {
      animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  .date {
    color-scheme: white;
  }

  /* ---------------- data cards ---------------- */
  /* Card data animation */
  .card {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    cursor: pointer;
  }
  .data{
    display: grid;
    grid-template-rows: 0fr 1fr 0fr;
    transition: var(--card-transition-duration);
  }
  .card.hover .data,
  .card:focus .data{
    grid-template-rows: 1fr 1fr 1fr;
  }

  /* Min Max data animation */
  .min, .max{
    object-fit: cover;
    overflow: hidden;
    transition: transform var(--card-transition-duration) ease-out 150ms;
  }
  .min {
    transform: rotateX(90deg);
    transform-origin: bottom;
  }
  .max {
    transform: rotateX(-90deg);
    transform-origin: top;
  }
  .card.hover .min, .card.hover .max,
  .card:focus .min, .card:focus .max {
    transform: rotateX(0);
  }

  /* Data separating line animation */
  .average::before,
  .average::after {
    display:block;
    content: '';
    border-bottom-width: 2px;  
    transform: scaleX(0);  
    transition: transform 450ms ease-in-out;
  }
  .card.hover .average::before, .card.hover .average::after,
  .card:focus .average::before, .card:focus .average::after{
    transform: scaleX(1);
  }
}
