@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --card-transition-duration: 500ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: /*linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )*/
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .notifications {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  /* scrollbars */
  .content::-webkit-scrollbar{
    width: 0px;
  }

  .notifications::-webkit-scrollbar{
    width: 10px;
  }
  .notifications::-webkit-scrollbar-track{
    box-shadow: inset 0 0 3px grey;
    border-radius: 5px;
  }
  .notifications::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 5px;
  }
  .notifications::-webkit-scrollbar-thumb:hover{
    background: #555;
  }

  /* unwrapped */
  .unwrapped-btn {
    @apply btn btn-circle border-0 border-elanco hover:border-elanco hover:border-2 bg-elanco hover:bg-white text-white hover:text-elanco duration-300
    /* @apply btn btn-circle glass duration-300 */
  }

  @keyframes ping {
    75%, 100% {
        transform: scale(1.8);
        opacity: 0;
    }
  }
  .custom-ping {
      animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  @keyframes gradient-in {
    0% {
      @apply from-indigo-500/0 via-purple-500/0 to-pink-500/0
    }
    10% {
      @apply from-indigo-500/10 via-purple-500/10 to-pink-500/10
    }
    20% {
      @apply from-indigo-500/20 via-purple-500/20 to-pink-500/20
    }
    30% {
      @apply from-indigo-500/30 via-purple-500/30 to-pink-500/30
    }
    40% {
      @apply from-indigo-500/40 via-purple-500/40 to-pink-500/40
    }
    50% {
      @apply from-indigo-500/50 via-purple-500/50 to-pink-500/50
    }
    60% {
      @apply from-indigo-500/60 via-purple-500/60 to-pink-500/60
    }
    70% {
      @apply from-indigo-500/70 via-purple-500/70 to-pink-500/70
    }
    80% {
      @apply from-indigo-500/80 via-purple-500/80 to-pink-500/80
    }
    90% {
      @apply from-indigo-500/90 via-purple-500/90 to-pink-500/90
    }
    100% {
      @apply from-indigo-500 via-purple-500 to-pink-500
    }
  }
  .gradient-animate {
      animation: gradient-in 200ms;
      animation-fill-mode: forwards;
  }

  .date {
    color-scheme: white;
  }
}
