.data{
    display: grid;
    grid-template-rows: 0fr 1fr 0fr;
    transition: var(--card-transition-duration);
}
.card:hover .data{
    grid-template-rows: 1fr 1fr 1fr;
}
.min, .max{
    object-fit: cover;
    overflow: hidden;
    transition: transform var(--card-transition-duration) ease-out;
}
.min {
    transform: rotateX(90deg);
    transform-origin: bottom;
}
.max {
    transform: rotateX(-90deg);
    transform-origin: top;
    transition-delay: 150ms;
}
.card:hover .min, .card:hover .max {
    transform: rotateX(0);
}
.card:hover .average{
    border-top-width: 2px;
    border-bottom-width: 2px;
}