.data{
    display: grid;
    grid-template-rows: 0fr 1fr 0fr;
    transition: 300ms;
}
.card:hover .data{
    grid-template-rows: 1fr 1fr 1fr;
}
.min, .max{
    object-fit: cover;
    width: 0;
    overflow: hidden;
    transition: width 300ms;
}
.card:hover .min, .card:hover .max {
    opacity: 1;
    width: auto;
}
.card:hover .average{
    border-top-width: 2px;
    border-bottom-width: 2px;
}